Package: com.nostalg1a.verboserespring
Name: Verbose Respring Theme
Version: 1.2
Architecture: iphoneos-arm
Description: verbose respring theme
Homepage: https://nostalg1a.github.io/cydia
Maintainer: nostalg1a <@outlook.com>
Author: nostalg1a <nostalg1a@outlook.com>
Section: Themes (Complete)
