Package: com.jdzmfg.verboserespring
Name: Verbose Respring Theme
Version: 2.0
Architecture: iphoneos-arm
Description: verbose respring theme
Homepage: https://jdzmfg.github.io/cydia
Maintainer: jdzmfg <jdzmfg@yahoo.com>
Author: jdzmfg <jdzmfg@yahoo.com>
Section: Themes (Complete)
