Package: com.nostalgia.verboserespring
Name: Verbose Respring Theme
Version: 1.2
Architecture: iphoneos-arm
Description: verbose respring theme
Homepage: https://n-stalgia.github.io/cydia
Maintainer: nostalgia <n_stalgia@outlook.com>
Author: nostalgia <n_stalgia@outlook.com>
Section: Themes (Complete)
