Package: com.nostalg1a.i7walls
Name: iPhone 7 wallpapers
Conflicts: livewallpapers6plus, livewallpapers
Architecture: iphoneos-arm
Description: Complete archive of "Live" wallpapers available only for the iPhone 6s/6s+ and above
Maintainer: nostalg1a <nostalg1a@outlook.com>
Author: nostalg1a <nostalg1a@outlook.com>
Section: Wallpaper
Tag: role::developer
Version: 1.2

