Package: com.jdzmfg.jbrespring
Name: Phoenix-like Respring Theme
Version: 2.0
Architecture: iphoneos-arm
Description: Replicates Phoenix jailbreak's running screen
Homepage: https://jdzmfg.github.io/cydia
Maintainer: jdzmfg <jdzmfg@yahoo.com>
Author: jdzmfg <jdzmfg@yahoo.com>
Section: Themes (Complete)
