<nav class="{% if page.title == "cydia" %}nav-cydia{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "cydia" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">cydia</a>
            </li>
        {% endif %}

        {% if site.blog == true %}
            {% if page.title != "add to cydia" %}
                <li class="item">
                    <a href="cydia://url/https://cydia.saurik.com/api/share#?source=http://n-stalgia.github.io">add to cydia</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>


repository
