<nav class="{% if page.title == "cydia" %}nav-cydia{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "cydia" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">cydia</a>
            </li>
        {% endif %}

        {% if site.blog == true %}
            {% if page.title != "repository" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/repository">repository</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>


repository
