Package: com.jdzmfg.iOS11walls
Name: iOS 11 wallpapers
Version: 1.5
Architecture: iphoneos-arm
Description: iOS 11 Wallpapers
Maintainer: jdzmfg <jdzmfg@yahoo.com>
Author: jdzmfg <jdzmfg@yahoo.com>
Section: Wallpaper
