Package: com.nostalg1a.iOS11walls
Name: iOS 11 wallpapers
Version: 1.0-2
Architecture: iphoneos-arm
Description: iOS 11 Wallpapers
Maintainer: nostalg1a <nostalg1a@outlook.com>
Author: nostalg1a <nostalg1a@gmail.com>
Section: Wallpaper
