Package: com.nostalg1a.redsn0wrespring
Name: RedSn0w Respring Theme
Version: 1.0
Architecture: iphoneos-arm
Description: Replicates RedSn0w's jailbreak running screen
Homepage: https://nostalg1a.github.io/cydia
Maintainer: nostalg1a <nostalg1a@outlook.com>
Author: nostalg1a <nostalg1a@outlook.com>
Section: Themes (Complete)
