Package: com.nostalgia.redsn0wrespring
Name: RedSn0w Respring Theme
Version: 1.0
Architecture: iphoneos-arm
Description: Replicates RedSn0w's jailbreak running screen
Homepage: https://nostalgia.github.io/cydia
Maintainer: nostalgia <n_stalgia@outlook.com>
Author: nostalgia <n_stalgia@outlook.com>
Section: Themes (Complete)
