Package: com.jdzmfg.redsn0wrespring
Name: RedSn0w Respring Theme
Version: 2.0
Architecture: iphoneos-arm
Description: Replicates RedSn0w's jailbreak running screen
Homepage: https://jdzmfg.github.io/cydia
Maintainer: jdzmfg <jdzmfg@yahoo.com>
Author: jdzmfg <jdzmfg@yahoo.com>
Section: Themes (Complete)
