Package: com.nostalg1a.generator
Name: generator
Version: 1.0
Architecture: iphoneos-arm
Description: set generator to nvram. To start type gen in mobile terminal.
Maintainer: nostalg1a <ultrasonicbeam@outlook.com>
Author: nostalg1a <nostalg1a@outlook.com>
Section: Scripting
